{% extends 'base_admin.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h2 fw-bold">Panel de Administración</h1>
            </div>
        
            <p>¡Has iniciado sesión correctamente!</p>
            <p>Seleccioná una opción de la barra lateral izquierda para comenzar a gestionar el contenido del sitio web.</p>
        </div>
    <div class="col-12">
</div>
{% endblock %}
