{% extends "base.html" %}

{% block title %}Privacidad{% endblock %}

{% block content %}
<div class="container-mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
            <h2 class="text-center mb-5 display-5">Privacidad</h2>

            <div class="card shadow-sm text-center">
                <div class="card-body p-4 p-mb-4">
                    <div class="mb-4">
                        <h4 class="text-primary mb-3">Origen de los datos</h4>
                        <p class="card-text">Los datos almacenados por esta página, fueron provistos por los dirigentes de la Agrupación Veteranos de Guerra de Malvinas “Operativo Virgen del Rosario”.</p>
                    </div>
                    
                    <div class="mb-4">
                        <h4 class="text-primary mb-3">Uso de los datos</h4>
                        <p class="card-text">Los mismos, fueron almacenados con el propósito de mostrar al mundo los ex-combatientes oriundos de la Ciudad de Río Cuarto que estuvieron dispuestos a dar su vida por el país en la fatídica Guerra de Malvinas.
                        Las únicas personas que tienen acceso a los datos almacenados son los dirigentes actuales de la Agrupación de Veteranos, dejando así la información en las manos de personas responsables.</p>
                    </div>

                    <div class="mb-4">
                        <h4 class="text-primary mb-3">Cómo contribuir con información</h4>
                        <p class="lead">Para agregar o brindar información sobre algún veterano, se deberá contactar a los dirigentes de la asociación para la revisión de la información provista y, en caso de que se corrobore, se pueda agregar al sistema.</p>
                    </div>

                    <div class="mb-4">
                        <h4 class="text-danger mb-3">Marco Legal</h4>
                        <div class="alert alert-danger" role="alert">
                            <strong>¡Importante!</strong> En Argentina, la divulgación no consentida de datos personales digitales está prohibida principalmente por la <strong>Ley de Protección de Datos Personales (Ley 25.326)</strong>. Cualquier divulgación de datos personales sin el consentimiento del titular puede ser considerada una violación a esta ley, lo que podría resultar en sanciones legales para la entidad o persona responsable de dicha divulgación.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
