{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
  <h1 class="text-black fw-bold mb-3">Sistema de Gestión de Veteranos de Guerra de Malvinas</h1>
  <p class="text-secondary">
    La Agrupación Veteranos de Guerra de Malvinas "Operativo Virgen del Rosario", con sede en la ciudad de Río Cuarto, trabaja activamente en la preservación de la memoria histórica del conflicto del Atlántico Sur de 1982. Su labor se centra en brindar contención, asesoramiento y acompañamiento a los veteranos y a sus familias, así como en promover actividades conmemorativas, educativas y de concientización en la comunidad.
  </p>
  <p class="text-secondary">
    Este sistema ha sido desarrollado para mejorar la comunicación entre los veteranos, permitiendo realizar consultas y mantenernos conectados, fortaleciendo así los lazos de compañerismo y apoyo mutuo. Porque Malvinas nos une, y solo unidos podemos seguir malvinizando y honrando la memoria de quienes dieron todo por nuestra Patria.
  </p>
{% endblock %}

